body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  padding: 20px;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

.todo__list {
    margin: 40px auto;
    width: 400px;
    text-align: left;
}

.todo__item {
  margin: 5px 0;
}

.todo__item.done {
  color: green;
}

.todo__item:hover {
  cursor: pointer;
}

.todo__item-input {
  padding: 7px;
  margin-right: 10px;
  border: 1px solid #999;
  border-radius: 5px;
}

.todo__item-button {
  padding: 7px;
  border: 1px solid #ddd;
  border-radius: 5px;
  background: #ddd;
}

.btn, .btn.default {
  background: #0b6bf2;
  padding: 10px;
  border: 0;
  border-radius: 3px;
  display: inline-block;
  margin: 0 5px;
  color: white;
  font-weight: 400;
}

.btn:hover {
  cursor: pointer;
}

.btn.disabled:hover {
  cursor: not-allowed;
}

.active {
  background: #0243eb;
}

.disabled {
  background: #dbe9fd;
}
